//Primary-Colors
$global-text-color: #13182c; //Instock-Black
$interactive-color: #2e66e5; //Instock-Indigo
$global-color: white;

//Secondary-Colors
$table-placeholders-color: #5c667e; //Slate
$outline-divider-color: #bdc5d5; //Cloud

//Background-Colors
$navigation-color: #232940; //Graphite
$page-background-color: #f7f8f9; //Light-grey

///Supporting-Colors
$label-color: #158463; //Green
$delete-color: #c94515; //Red

$label-color-opaque: #1584631c; //Green
$delete-color-opaque: #c9451524; //Red